


<h1> Users list S</h1>
@model IEnumerable<User>

@{
 
}
<h2>Create a New Pserroduct</h2>
@using (Html.BeginForm("InsertProductToDatabase", "Product", "Post"))
{

    <input type="submit" value="Create User" class="btn btn-primary" />
}
